<html>
  <head>
    <title>Update un potin</title>
  </head>
  <body>
    <h1>Mets à jour ton potin !</h1>
    <p>Utilise le formulaire ci-dessous :</p>

    <form action="/gossips/<%= @gossip.id %>/edit" method="POST">  #L'action du formulaire envoie une requête POST à l'URL contenant l'ID du potin à modifier.
                                                                   #<%= %> est du code Ruby ERB qui insère dynamiquement la valeur de @gossip.id.
      Saisis ici ton nom :
      <input type="text" name="gossip_author" value="<%= @gossip.gossip_author %>"/><br/> #La valeur par défaut est pré-remplie avec la valeur actuelle de @gossip.gossip_author.

      Balance ton potin :
      <input type="text" name="gossip_content" value="<%= @gossip.gossip_content %>"/><br/> #Pré-rempli avec la valeur actuelle de @gossip.gossip_content.

      <input type="submit" value="Mettre à jour"/>
    </form>

    <br/>
    <a href="/">← Retour à la page des potins</a>
  </body>
</html>
