<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
        <h1>Bienvenue ! La liste des potins arrive bientôt. En attendant tu peux créer un nouveau potin ici :</h1>
    <p><a href="/gossips/new/">Créer ton nouveau potin</a></p>
  </body>
</html>