<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>Crée un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/new/' method='POST'> # L’attribut action indique l’URL vers laquelle les données du formulaire seront envoyées.
         method='POST' signifie que les données seront envoyées via une requête HTTP POST
      Saisi ici ton nom :  <input type='text' name='gossip_author'/><br/> # name='gossip_author' donne un nom à la donnée qui sera transmise dans le POST.
      Balance ton potin : <input type='text' name='gossip_content'/><br/> # name='gossip_content' permettra de récupérer ce contenu côté serveur.
      <input type='submit'/>
    </form>
  </body>
</html>